.card {
  width: 242px;
  height: 342px;
  border: #000 solid 1px;
  border-radius: 0.8em;
  padding: 5px;
  font-size: 14px;
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-shrink: 0; /* 親要素がflexで並べた時に縮まないようにする */
  /* テキストを選択できないようにする */
  user-select: none;
}
.cardSelected {
  /** 選択時のスタイル */
  border: #000 solid 2px;
  /**outlineで光っているような演出にする*/
  outline: #000 solid 2px;
  outline-offset: -2px;
  box-shadow: 0 0 10px yellow;
  
}
.cardName {
  text-align: center;
  font-size: 1.2em;
  /* border-bottom: #000 solid 1px; */

}
.cardType {
  align-self: center;
  text-align: center;
  background-color: #111;
  border-radius: 10px;
  margin-top: 5px;
  padding: 0 4px;
  min-width: 80px;
}
.cardType span {
  font-size: 12px;
  color: #fff;
  mix-blend-mode: difference;
  white-space: nowrap;
}
.cardId {
  position: absolute;
  bottom: 3px;
  left: 8px;
}
.cardContent {
  white-space: pre-line;
  border: solid #000 1px;
  flex-grow: 1;
  padding: 3px 5px;
  max-height: 280px;
}
.cardPropLabelWrapper { 
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  border-right: #000 solid 1px;
  border-left: #000 solid 1px;
}
.cardPropLabel {
  height: 100%;
  font-size: 0.8em;
  border-right: #000 solid 1px;
  padding-right: 1em;
  padding-left: 1em;
  display: flex;
  align-items: center;
  white-space:nowrap;
}
.cardPropContent {
  padding-right: 0.5em;
  padding-left: 0.5em;

}
.card .location {
  font-size: 8px;
}
.card .scene-end {
  font-size: 0.8em;
}
.rubyText {
  line-height: 1.8;
}
